<h1 class="header">Add a New Chirp!</h1>
<div ng-controller="postReq">
    <div id="inputDiv">
        <div id="formDiv">
            <form>
                <input class="input-messages" type="text" placeholder="user" ng-model="user" required>
                <input class="input-messages" id="messageInput" type="message" placeholder="message" ng-model= "message" required>
                <input id="inputBtn" type="submit" value="New Chirp!" ng-click="insertData()"></a>
            </form>
            <img id="sylvester" src="https://img14.deviantart.net/89eb/i/2012/289/b/7/sylvester_the_cat_by_captainjackharkness-d5i1n66.png" alt="sylvester">
            <img id="tweety-add" src="https://s-media-cache-ak0.pinimg.com/originals/b6/ec/39/b6ec39c579beb3f8f6ea1636c7702d96.jpg" alt="tweety">                      
        </div>
    </div>
</div>

    